.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  margin-right: 50px;
}
.contacts:nth-child(2n) {
  margin-right: 0;
}

.connect {
  display: flex;
  margin-left: auto;
}
.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  text-align: right;
  margin-left: 50px;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.connect__link:nth-last-child(-2n) {
  margin-left: 0;
}
.connect__link:hover,
.connect__link:focus {
  color: var(--accent-color);
}
.connect__link:active {
  color: var(--accent-color);
}
.connect__link:active {
  color: var(--accent-color);
}
.connect__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__item:hover,
.connect__item:focus {
  color: var(--accent-color);
}
